---
import Layout from '../layouts/Layout.astro';
import ProductGrid from '../components/ProductGrid.jsx';
import Banner from '../components/Banner.jsx';
import PromoGrid from '../components/PromoGrid.jsx';
---

<Layout title="ConceExpress - Tienda de Tecnología">
  <Banner client:load />
  <PromoGrid client:load />
  <ProductGrid client:load />
  
  <h1>Bienvenido a ConceExpress</h1>
  <!-- Agrega aquí más contenido específico de la página de inicio -->
</Layout>