---
import Header from '../components/Header';
import '../styles/global.css';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <Header client:load />
    <main>
      <slot />
    </main>
    <footer>
      <!-- Tu footer aquí -->
    </footer>
  </body>
</html>